<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/aboutstyle.css')}}">
    <script src="https://kit.fontawesome.com/d563a47cae.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Chakra+Petch&family=IBM+Plex+Sans:wght@200&family=Kanit:wght@300&family=Poppins&family=Secular+One&family=Teko&display=swap" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=IBM+Plex+Sans:wght@200&family=Kanit:wght@300&family=Poppins&family=Teko&display=swap');
      </style>
</head>
<header>
    <h1 id="logo">
    <img class="logo" src="{{ url_for('static', filename='icons/nr.png')}}" alt="logo"/>
        DATA MINING
    <a href="{{ url_for('mainpage') }}"> 
     <button id="mainpage" class="mainpage">
         <img src="{{ url_for('static', filename='icons/home.png') }}" alt="home" id="homei" class="homei">
     </button>
    </a>
    </h1>
</header>
<body>
    <img class= "wave" src="{{ url_for('static', filename='icons/wave.png') }}">
    <img class="wave2"src="{{ url_for('static', filename='icons/wave2.png') }}">
    <img class="wave3"src="{{ url_for('static', filename='icons/wave.png') }}">
<div class="content">
    <div class="main">
        <h1 id="ab">ABOUT</h1>
            <blockquote cite = "https://numberdyslexia.com/number-recognition-guide-its-importance-different-learning-methodologies/?fbclid=IwAR2qfpobJTUXFghaa0WVhf1BplPomnhCkiqUBAQMKLIYO2BMX8YElaUOm0o">
            <p>The term "number recognition skill" refers to the capacity to identify, visualize, and name the most fundamental numerals—the numbers. Despite appearing to be quite wide, number recognition can be broken down into more manageable groupings of ideas and abilities. These include things like choosing the appropriate item count, matching the precise numbers to the object count, and choosing the appropriate nomenclature for the count.</p>
            </blockquote>
            <br>
            <p>This website is for academic purposes only. This is prepared and presented by the students of University of Makati in compliance with their Introduction to Data Mining course.</p>
    </div>
    <div class="buttons">
        <a href="{{ url_for('handwritten') }}" class="main"><span> Handwritten</span></a>
        <a href="{{ url_for('chart') }}" class="main"><span>Chart</span></a>
        <script type="text/javascript" src="{{ url_for('static', filename='script/buttons.js')}}"></script>
    </div>
</div>
</body>
</html>