* {
    font-family: 'Chakra Petch', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

header {
    height: 80px;
    margin-top: -15px;
    background-color: transparent;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.6);
}

img.logo {
    height: 65px;
    width: 65px;
    margin: 25px 20px;
    display: flex;
    transition: all 0.5s ease;
}

h1#logo {
    font-weight: lighter;
    padding-left: 100px;
    margin-top: -80px;
    font-size: 30px;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    background-image: url(/static/images/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 1080px;
    background-position: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}


h1.menu {
    font-weight: bold;
    padding: 20px;
    margin-left: 93px;
    margin-top: -80px;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

img.menu {
    height: 65px;
    width: 65px;
    margin-top: 20px;
    margin-left: 18px;
    display: flex;
    transition: all 0.5s ease;
}

/* sidebar texts */
a {
    position: relative;
    color: white;
    font-size: 28px;
    display: table;
    width: 370px;
    padding: 16px;
}

/* sidebar */
nav {
    position: absolute;
    top: 34%;
    left: 15px;
    height: 400px;
    width: 5.5%;
    background-color: transparent;
    overflow: hidden;
    transition: width 0.2s linear;
    border-radius: 20px;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.9);
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
    padding: 10px;

}

.nav-item {
    position: relative;
    top: -10px;
    margin-left: 25px;

}

.icons {

    height: 55px;
    width: 55px;
    margin-top: 40px;
    margin-left: 3%;
}

.icons.ic-upload {
    height: 55px;
    width: 55px;
    margin-top: 40px;
    margin-left: -18%;
}

/* animation */
a.sidebar:hover {
    background-color: rgba(255, 255, 255, 0.3);
    top: 20px;
}

nav:hover {
    width: 340px;
    transition: all 0.5s ease;
}

/* Number recognition na text*/
div.main {
    position: relative;
    margin: 20% -2%;
}

h1{
    font-family: 'Chakra Petch', sans-serif;
}

h1#nr {
    color: rgb(255, 255, 255);
    margin: 0 100px;
    font-size: 70px;
    font-weight: lighter;
}

h1#epoch {
    font-weight: lighter;
    justify-content: center;
    font-size: 70px;
    color: white;
}

canvas#myChart {
    margin-left: 10px;
}

div.chart {
    position: relative;
    height: 65%;
    width: 70%;
    background-color: rgb(255, 255, 255, 0.1);
    margin-left: 17%;
    margin-top: -1%;
    border-color: rgb(96, 126, 136);
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
    border-radius: .30cm;
}

/*button home*/
div.back {
    margin-left: 85%;
    margin-top: -70px;
}

button#home {
    position: relative;
    background: transparent;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
    border-radius: .30cm;
    font-size: 25px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    height: 55px;
    width: 200px;
    cursor: pointer;
}

button#home:hover {
    background-image: linear-gradient(90deg, #3a77ce, #8a44aa, #e885b4);
    opacity: 1;
    position: absolute;
    transition: transform 0.3s ease;
}