* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

header {
    position: relative;
    height: 5vw;
    background-color: transparent;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.6);
}

img.logo {
    height: auto;
    width: 4vw;
    margin: 0.3vw;
    vertical-align: middle;
    transition: all 0.5s ease;
}

h1#logo {
    font-weight: lighter;
    font-size: 3vw;
    padding: auto;
    margin: auto;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(/static/images/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 1080px;
    background-position: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}


/* Number recognition na text*/
div.main {
    position: relative;
    margin: 20% -2%;
}

h1.menu {
    font-weight: bold;
    padding: 20px;
    margin-left: 90px;
    margin-top: -80px;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

img.menu {
    height: 65px;
    width: 65px;
    margin-top: 20px;
    margin-left: 18px;
    display: flex;
    transition: all 0.5s ease;
}

/* sidebar texts */
a.sidebar {
    position: relative;
    color: white;
    font-size: 28px;
    display: table;
    width: 350px;
    padding: 16px;
}

/* sidebar */
nav {
    position: absolute;
    top: 34%;
    left: 15px;
    height: 400px;
    width: 5.5%;
    background-color: transparent;
    overflow: hidden;
    transition: width 0.2s linear;
    border-radius: 20px;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.9);
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
    padding: 10px;

}

.nav-item {
    position: relative;
    top: -10px;
    margin-left: 23px;

}

.icons {

    height: 55px;
    width: 55px;
    margin-top: 40px;
    margin-left: -20%;
}

.icons.ic-upload,
.ic-home {
    height: 55px;
    width: 55px;
    margin-top: 40px;
    margin-left: 2%;
}

/* animation */
a.sidebar:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav:hover {
    width: 340px;
    transition: all 0.5s ease;
}

h1{
    font-family: 'Chakra Petch', sans-serif;
}

h1#nr {
    color: rgb(255, 255, 255);
    margin: 0 100px;
    font-size: 70px;
    font-weight: lighter;
}

h1#num{
    font-size: 70px;
    color: white;
}

h1#instructions {
    color: white;
    margin-top: 40px;
}

h1#prediction{
    color: white;
}

/* for canva(black board) */
canvas {
    position: relative;
    justify-content: center;
    margin-top: 5%;
    margin-left: 40%;
    cursor: pointer;
    box-shadow: -3px 2px px 6px black;
}

/*  */
.tools {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}

/* canvas function*/
.tools .color-field {
    height: 20px;
    width: 20px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    border: 10px solid white;
    align-self: center;
    margin: 0 10px;
}

/* buttons */
.tools .button {
    text-align: center;
    position: relative;
    background: transparent;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.5);
    border-radius: .30cm;
    font-size: 25px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    height: 55px;
    width: 200px;
    cursor: pointer;
    margin-right: 70px;
}

.tools .button:hover{
    background-image: linear-gradient(90deg, #3a77ce, #8a44aa, #e885b4);
    opacity: 1;
    transition: transform 0.3s ease;
}

/* range of pen (thick or thin) */
.pen-range {
    align-self: center;
    margin: 0 16px;
}

button#mainpage {
    position: relative;
    float: right;
    margin-top: 1%;
    right: 5%;
    background: transparent;
    border: none;
    appearance: none;
    background-color: inherit;
}

img#homei {
    width: 2.3vw;
    height: auto;
    display: none;
}

button#mainpage:hover {
    color: #d393b1;
    opacity: 1;
    cursor: pointer;
}

button#chart {
    position: relative;
    float: right;
    margin-top: 1%;
    right: 9%;
    background: transparent;
    border: none;
    appearance: none;
    background-color: inherit;
}

img#charti {
    width: 2.3vw;
    height: auto;
    display: none;
}

button#chart:hover {
    color: #d393b1;
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 425px) {
    
    body {
        height: 100%;
        width: 100%;
        min-height: fit-content;
    }

    header {
        position: relative;
        height: 15vw;
        background-color: transparent;
        box-shadow: 0 25px 30px rgba(0, 0, 0, 0.6);
    }

    img.logo {
        height: auto;
        width: 11vw;
        margin: 1vw;
        vertical-align: middle;
        transition: all 0.5s ease;
    }
    
    h1#logo {
        font-weight: lighter;
        font-size: 100%;
        padding: auto;
        margin: auto;
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    
    nav {
        transform: scale(0);
        transform: translate(-999px, 0px);
    }

    button#mainpage {
        margin-top: 3%;
    }

    button#chart {
        margin-top: 3%;
    }
    
    img#homei {
        width: 8vw;
        display: inline;
    }

    img#charti {
        width: 8vw;
        display: inline;
    }

    canvas {
        position: relative;
        justify-content: center;
        margin: 5% 8vw 0%;
        cursor: pointer;
        box-shadow: -3px 2px px 6px black;
    }
}