* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

header {
    position: relative;
    height: 5vw;
    background-color: transparent;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.6);
}

img.logo {
    height: auto;
    width: 4vw;
    margin: 0.3vw;
    vertical-align: middle;
    transition: all 0.5s ease;
}

h1#logo {
    font-weight: lighter;
    font-size: 3vw;
    padding: auto;
    margin: auto;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(/static/images/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 1080px;
    background-position: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content {
    width: 100%;
    position: relative;
}

/* Number recognition na text*/
div.main {
    position: relative;
    margin-top: 3%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    float:left;
    width: 50%;
}

h1#nr {
    color: rgb(255, 255, 255);
    font-family: 'Chakra Petch', sans-serif;
    margin-top: 25%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 5%;
    font-size: 5vw;
    font-weight: lighter;
    vertical-align: middle;
}

/*------------------------------------------------ANIMATED BG----------------------------------------------- */
@keyframes wave {
    100% {
        transform: translateX(-1000px);
    }
}

img.wave {
    margin-left: 20px;
    position: absolute;
    display: block;
    width: 150vh;
    height: 80vh;
    background-repeat: repeat-x;
    background-size: 1000px 100px;
    animation: wave 15s linear infinite;
}

img.wave2 {
    background-repeat: repeat-x;
    margin-left: 1325px;
    position: absolute;
    display: block;
    width: 160vh;
    height: 80vh;
    background-size: 1000px 100px;
    background-repeat: repeat-x;
    animation: wave 15s linear infinite;
}

img.wave3 {
    background-repeat: repeat-x;
    margin-left: 2390px;
    position: absolute;
    display: block;
    width: 150vh;
    height: 80vh;
    background-size: 1000px 100px;
    animation: wave 16s linear infinite;
}


/*--------------------------------BUTTONS----------------------------- */
div.buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    float: right;
    width: 30%;
    margin-top: 10%;
    margin-right: 5vw;
}

a.main {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 15px 6vw;
    margin: 5% 0;
    color: white;
    font-size: 3vw;
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 1px;
    border-radius: .50cm;
    text-align: center;
    background-color: transparent;
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.6);
    transition: transform 0.3 ease;
}


/*---------------------------------------------------BUTTON ANIMATIONS----------------------------------------------- */
a.main::after,
a.mb::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

a.main:hover {
    transform: scale(1.1);
}

a.main{
    transition: all .2s ease-in-out;
}

a.main:hover::after {
    background-image: linear-gradient(90deg, #3a77ce, #8a44aa, #e885b4);
    opacity: 1;
}

a.main:hover::before {
    transform: translate(12px, 12px);
}

button#about {
    position: relative;
    float: right;
    margin-top: 1.5%;
    right: 5%;
    background: transparent;
    border: none;
    appearance: none;
    background-color: inherit;
}

img#abti {
    width: 2.3vw;
    height: auto;
}

button#about:hover {
    color: #d393b1;
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 425px) {

    body {
        height: 100%;
        width: 100%;
        min-height: fit-content;
    }

    header {
        position: relative;
        height: 15vw;
        background-color: transparent;
        box-shadow: 0 25px 30px rgba(0, 0, 0, 0.6);
    }

    img.logo {
        height: auto;
        width: 11vw;
        margin: 1vw;
        vertical-align: middle;
        transition: all 0.5s ease;
    }
    
    h1#logo {
        font-weight: lighter;
        font-size: 7vw;
        padding: auto;
        margin: auto;
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    div.main {
        margin: auto;
        width: 100%;
        display: block;
    }

    div.buttons {
        margin: 10% auto;
        width: 100%;
        display: block;
        padding: 0% 10%;
    }

    h1#nr { 
        font-size: 10vw;
        margin-top: 10%;
    }

    a.main {
        margin: 0% 5vw;
    }

    button#about {
        margin-top: 3%;
    }

    img#abti {
        width: 8vw;
        height: auto;
    }
}